
{% extends 'layouts/base-firstscreen.html' %}


{% block content %}



  <div class="main-banner" id="top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-carousel owl-banner">
            {% for banner in data['main-banner'] %}
              <div class="item item-{{ banner['id']}}">
                <div class="header-text">
                  <span class="category">{{ banner['category'] }}</span>
                  <h2>{{ banner['titre'] }}</h2>
                  <p>{{ banner['text'] }}</p>
                  <div class="buttons">
                    <div class="main-button">
                      {% if banner['id'] == 2 %}
                      <a href="{{ banner['botton-link'] }}"><i class="fa fa-play"></i>{{ banner['botton-text'] }}</a>
                      {% else %}
                      <a href="{{ banner['botton-link'] }}">{{ banner['botton-text'] }}</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="process section" id="process">
    <div class="container">
      <div class="row">
        {% for process_step in data['process'] %}
        <div class="col-lg-4 col-md-6">
          <div class="service-item">
            <div class="icon">
              <img src="{{ process_step['image-source'] }}" alt="{{ process_step['image-alt'] }}">
            </div>
            <div class="main-content">
              <h4>{{ process_step['titre'] }}</h4>
              <p>{{ process_step['paragraph'] }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="section about-us" id="about-us">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-1">
          <div class="accordion" id="accordionExample">
            {% for fqa in data['FQA'] %}
            
            <div class="accordion-item">
              {%  if fqa['id'] == 'headingOne' %}
              <h2 class="accordion-header" id="{{ fqa['id'] }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#{{ fqa['collapse'] }}" aria-expanded="true" aria-controls="{{ fqa['collapse'] }}">
                  {{ fqa['question'] }}
                </button>
              </h2>
              <div id="{{ fqa['collapse'] }}" class="accordion-collapse collapse show" aria-labelledby="{{ fqa['id'] }}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{ fqa['response'] }}
                </div>
              </div>
              {% else %}
              <h2 class="accordion-header" id="{{ fqa['id'] }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ fqa['collapse'] }}" aria-expanded="false" aria-controls="{{ fqa['collapse'] }}">
                  {{ fqa['question'] }}
                </button>
              </h2>
              <div id="{{ fqa['collapse'] }}" class="accordion-collapse collapse" aria-labelledby="{{ fqa['id'] }}" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  {{ fqa['response'] }}
                </div>
              </div>
              {% endif %}
              
            </div>
            
            {% endfor %}
            
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <div class="section-heading">
            <h6>About Us</h6>
            <h2>What is Romeo.AI?</h2>
            <p>classification models. It focuses on pre-trained models that have been trained on popular benchmarks such as MNIST, Fashion-MNIST, and CIFAR-10. This allows users to evaluate the performance and accuracy of their models on these standard datasets, providing insights and feedback on their CNN classification models.</p>
            <div class="main-button">
              <a href="#">Discover More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper">
            <div class="row">
              <div class="col-lg-3 col-md-6">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="150" data-speed="1000"></h2>
                   <p class="count-text ">Happy AI Expert</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="804" data-speed="1000"></h2>
                  <p class="count-text ">Happy Student</p>
                </div>
              </div>
              <div class="col-lg-3 col-md-6">
                <div class="counter">
                  <h2 class="timer count-title count-number" data-to="50" data-speed="1000"></h2>
                  <p class="count-text ">Trusted Client</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="section testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="owl-carousel owl-testimonials">
            {% for test in data['testimonials'] %}
            <div class="item">
              <p>"{{ test['opinion'] }}"</p>
              <div class="author">
                <span class="category">{{ test['occupation'] }}</span>
                <h4>{{ test['name'] }}</h4>
              </div>
            </div>
            {% endfor%}
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <div class="section-heading">
            <h6>TESTIMONIALS</h6>
            <h2>What they say about us?</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tech section" id="tech">
    <div class="container">
      <div class="row">
        {% for tech_item in data['tech'] %}
        <div class="col-lg-3 col-md-6">
          <div class="tech-member">
            <div class="main-content">
              <img src="{{ tech_item['image-source'] }}" alt="{{ tech_item['image-alt'] }}">
              <span class="category">supported by</span>
              <h4>{{ tech_item['title'] }}</h4>
              <ul class="social-icons">
                <li><a href="{{ tech_item['link'] }}"><i class="fas fa-link"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div> 
  <div class="contact-us section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-6  align-self-center">
          <div class="section-heading">
            <h6>Contact Us</h6>
            <h2>Feel free to contact us anytime</h2>
            <p></p> 
            
          </div>
        </div>
        <div class="col-lg-6">
          <div class="contact-us-content">
            <form id="contact-form" action="{{ url_for('welcome_blueprint.submit_contact') }}" method="post">
              {{ form.hidden_tag() }}
              <div class="row">
                <div class="col-lg-12">
                  <fieldset>
                    {{ form.name(placeholder="Your Name...")}}
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    {{ form.email(placeholder="Your E-mail...",pattern="[^ @]*@[^ @]*") }}
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    {{ form.msg(placeholder="Your Message")}}
                  </fieldset>
                </div>
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
  <!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
