<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" href="/static/assets/img/brand/connect(1).png" type="image/svg">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="static/assets/fonts/icomoon/style.css" type="text/css">

    <link rel="stylesheet" href="static/assets/css/owl.carousel.min.css" type="text/css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/assets/css/bootstrap.min.css" type="text/css">
    
    <!-- Style -->
    <link rel="stylesheet" href="static/assets/css/forgetPassword.css" type="text/css">

    <title>Romeo.AI- Reset your Password</title>
  </head>
  <body>
    {% block content %}{% endblock content %}
  <footer>
    <div class="container">
      <div class="col-lg-12">
        <p>Copyright © 2023 </p>
      </div>
    </div>
  </footer>
  
    <script src="static/assets/js/jquery-3.3.1.min.js"></script>
    <script src="static/assets/js/popper.min.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>
    <script src="static/assets/js/main.js"></script>
  </body>
</html>