
{% extends 'layouts/base-form.html' %}
{% block content %}
  <div class="content">
    <div class="container">
      <img src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Romeo.ai_purple_adjusted_size.svg" alt="romeo.ai Logo" class="logo" title="Découvrez notre logo !"/>
      <div class="row">
        <div class="col-md-6">
          <img src="static/assets/img/theme/Forgot password-amico (1).svg" alt="Image" class="img-fluid" height="10%" width="auto">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8" style="margin-top: 15%;">
              <div class="mb-4">
              <h3>Forget Password</h3>
              <p class="mb-4">Please provide the email address you use to sign in to <b>Romeo.AI</b></p>
            </div>
            <form action="{{ url_for('authentication_blueprint.forgot_password') }}" method="post">
                {{ form.hidden_tag() }}
              <div class="form-group first">
                <label for="email">Email</label>
                {{ form.email(class="form-control",id="email") }}
              </div>
              

              <input type="submit" value="Restore my account" class="btn btn-block ">
              <div class="d-flex mb-5 align-items-center" style="margin: 3%;">
            
                <span class="d-flex justify-content-start"><a href="{{ url_for('authentication_blueprint.login') }}" class="forgot-pass">Back to Sign in</a></span> 
              </div>
            </form>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </div>
  {% endblock content %}