{% extends 'layouts/base.html' %}

{% block title %} check robustness {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<!--Header-->
<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item"><a href="{{ url_for('home_blueprint.home') }}"><i class="fas fa-home"></i></a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('admin_blueprint.users') }}">Member's List</a></li>
              <li class="breadcrumb-item active" aria-current="page">Run Checker</li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- Card stats -->
    </div>
  </div>
</div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">

              <div class="text-muted text-center mt-2 mb-3"> 
                <div class="media align-items-center" style="display:flex; align-items: center; justify-content: center; text-align: center;">
                      <img alt="Image placeholder" src="/static/assets/img/theme/default-user-profile-picture_hvoncb.png"class="avatar rounded-circle">
                </div>             
                Add user
                <br />
                {% if msg %}
                  <span class="text-danger">{{ msg | safe }}</span>
                {% endif %}
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">

              <form role="form" method="post" action="{{ url_for('admin_blueprint.addUser') }}" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                <div class="form-group mb-3">
                    {{ form.username.label(style="font-size: 12px;") }} <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" fill="#e00040" class="bi bi-asterisk" viewBox="0 0 16 16"> <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/> </svg>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                    </div>
                    {{ form.username(class="form-control", placeholder="username" )}}
                  </div>
                </div>
                <div class="form-group">
                    {{ form.email.label(style="font-size: 12px;") }} <svg xmlns="http://www.w3.org/2000/svg" width="5" height="5" fill="#e00040" class="bi bi-asterisk" viewBox="0 0 16 16"> <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z"/> </svg>
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                    </div>
                    {{ form.email(class="form-control",placeholder="email") }}
                  </div>
                </div>
                <div class="form-group">
                    {{ form.firstname.label(style="font-size: 12px;") }}
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                    </div>
                    {{ form.firstname(class="form-control",placeholder="firstname") }}
                  </div>
                </div>
                <div class="form-group">
                    {{ form.lastname.label(style="font-size: 12px;") }}
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                    </div>
                    {{ form.lastname(class="form-control",placeholder="lastname") }}
                  </div>
                </div>
                <div class="form-group">
                    {{ form.country.label(style="font-size: 12px;") }}
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                      </div>
                      {{ form.country(class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group">
                    {{ form.city.label(style="font-size: 12px;") }}
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                      </div>
                      {{ form.city(class="form-control",placeholder="city") }}
                    </div>
                  </div>
                <div class="text-center">
                  {{ form.submit(class="btn btn-primary my-4") }}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
